body.admin {
  h1.title, h4.title {
    text-align: center;
    color: #3498DB;
  }

  nav {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: rgba(52, 152, 219, 0.95);
    font-size: 2rem;
    padding: 0.75rem;
    a {
      color: #ffffff;
      text-decoration: none;
      margin: 2rem;
    }
    a:hover {
      color: #DADFE1;
    }
    ul.dropdown-menu {
      font-size: 1.5rem;
      a {
        margin: 0.5rem;
        color: #3498DB;
      }
    }
  }

  .container-fluid {
    margin-top: 4rem;
  }
}