%h1 All Posts

=link_to "Create Post", new_admin_post_path, class: "btn btn-default", id: "new-post"

%table.table.table-striped
  %tr
    %th Title
    %th Preview
    %th Created On
    %th
  - for post in @posts
    %tr
      %td= post.title.titleize
      %td= post.content
      %td= post.created_at
      %td View Details