%h1.title== Post: #{@post.title}

.post-content
  = simple_format(@post.content)

%hr
.manage
  %h4.title Manage Post
  = link_to "Edit Post", edit_admin_post_path(@post), class: "btn btn-default"
  = link_to "Delete Post", admin_post_path(@post), method: :delete, "data-confirm" => "Are you sure you want to delete this post? This action cannot be undone.", class: "btn btn-danger"